name: CI

permissions: read-all

on:
  - push
  - pull_request

jobs:
  ci:
    name: CI

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          check-latest: true
          cache: yarn

      - run: yarn install --immutable

      - name: Check if migrations are up to date
        run: |
          yarn gen:migration
          git status --porcelain | grep 'migrations/' && echo 'Unstaged migration detected!' && exit 1 || echo 'Migrations are up to date.'

      - name: Copy .env.example to .env for CI build
        run: cp .env.example .env

      - run: yarn check

      - run: yarn build

      - run: yarn lint
